<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shy.nexusix.iam.mapper.SysUserPermRelMapper">

    <select id="queryUserPermJoin" resultType="com.shy.nexusix.iam.dto.UserPermJoinDTO">
        SELECT
        pp.id             AS policyId,
        pp.perm_id        AS permId,
        pp.status         AS policyStatus,
        pp.access_type    AS accessType,
        pp.field_operates AS fieldOperates,
        pp.table_name     AS tableName,
        p.perm_code       AS permCode
        FROM sys_user_perm_rel upr
        LEFT JOIN sys_perm_policy pp
        ON upr.policy_id = pp.id
        AND pp.is_deleted = 'NOT_DELETED'
        LEFT JOIN sys_perm p
        ON pp.perm_id = p.id
        AND p.is_deleted = 'NOT_DELETED'
        WHERE upr.user_id = #{userTenantRelId}    <!-- 注意：这里 userId 实际存的是 userTenantRel.id -->
        AND upr.is_deleted = 'NOT_DELETED'
    </select>

</mapper>
